/* MASTER CSS */

body{
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

/* HEADER */

header div {
  width: 100vw;
  height: 44px;
  background-color: black;
}

header ul {
  width: 1000px;
  height: 100%;
  margin: 0 auto;

}

header ul li{
  width: 10%;
  height: 100%;

  font-size: .85em;
  font-weight: 300;
  letter-spacing: .08em;
  text-align: center;
  line-height: 44px;
  color: #FFF;

  padding-left: -20px;

  float: left;
  display: inline-block;

  cursor: pointer;
  user-select: none;
  transition: .2s;

  /* background-color: #999; */

}

    header ul li:hover{
      color: #B7B7B7;
      transition: .2s;
    }


/* Apple Logo */
header ul li:first-child{
  font-size: 1.35em;
}

/* Search Image */
#topNav li:nth-child(9){
  background:url('https://www.apple.com/ac/globalnav/4/en_US/images/globalnav/search/image_large.svg');
  background-repeat: no-repeat;
  background-position: center;
}

/* Shopping bag Image */
#topNav li:nth-child(10){
  background: url('https://www.apple.com/ac/globalnav/4/en_US/images/globalnav/bag/image_large.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

/* Nav Bar  */
Nav div{
  width: 100vw;
  height: 92px;

  padding-bottom: 12px;

  background-color: #141414;

}

Nav ul{
  width: 900px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
/* Items List */
Nav ul li{
  width: 10%;
  max-width: 80px;
  height: 100%;

  font-size: .6em;
  font-weight: 300;
  letter-spacing: .08em;
  text-align: center;
  line-height: 15px;
  color: #FFF;

  display: inline-block;

  cursor: pointer;
  user-select: none;
  transition: .2s;
}
  nav ul li:hover{
    color: #6bf;
    transition: .2s;
    text-decoration: underline;
  }

#container{
  height: 700px;
  width: 100vw;
  position: relative;
}

#container video{
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 18px;

}



.topText{
    margin-left: 150px;
    position: relative;
    /* padding-top: 85px; */
    font-size: 1.7em;
    font-weight: 400;
    color: #F2F2F2;
    opacity: .9;
    z-index: 50;
    top: 15%;
}

.centerText{
    margin-left: 140px;
    position: relative;
    /* padding-top: 160px; */

    font-size: 6em;
    font-weight: 500;
    color: #fff;
    opacity: .95;
    letter-spacing: -.016em;
    z-index: 50;
    top: 20%;

}

.hoverText{
    position: relative;
    z-index: 10;
    display: inline-block;
    text-align: right;
    color: #CEC2B6;

    font-size: .75em;
    font-weight: 500;
    opacity: .45;
    z-index: 50;
}

.paragraph{
    position: relative;
    margin-left: 145px;
    color: #fff;
    font-weight: 300px;
    font-size: 20px;
    z-index: 50;
    top: 35%;
}

#proImage{
  background:url('../media/hero_medium_2x.jpg');
  height: 624px;
  width: 100vw;
  margin-top: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#proContent{
  padding-top: 75px;

  text-align: center;
}

#productHeader{
  height: 55px;
  font-style: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 60px;
  letter-spacing: -.025em;
  font-weight: 465;
  margin-bottom: 10px;
}

#productDescription{
  height: 39px;
  padding-top: 5px;
  font-size: 32px;
  font-style: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-weight: 400;
  letter-spacing: .004em;
  margin-bottom: 20px;
}
#proLearnMore a{
  color: #66BBFF;
  font-size: 21px;
  font-weight: 300;
  letter-spacing: .011em;
  font-style: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  text-decoration: none;
}

#learn{

}
#buy{
  height: 25px;
  width: 49.38;
  margin-left: 10px;
  text-decoration: none;
}

#iMacPro{
  width: 100vw;
  height: 900px;
  margin: 50px 0 0 0;
  padding: 68px 0 0 0;

  background-color: #1A1A1A;
}

#iMacProImage{
  background: url('../media/imax_pro.jpg');

  height: 791px;
  width: 769px;
  margin: 0 auto;
}

#IMac{
  width: 1280px;
  height: 1107px;

}
